<ion-header [translucent]="true">
  <ion-toolbar class="flex">
    <ion-button color="primary" fill="clear" [routerLink]="['/']">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Tu ganado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="h-full w-full flex flex-col items-center justify-center" [formGroup]="cowForm" (ngSubmit)="registerCow()">
    <div class="w-full px-2">
      <ion-item lines="full">
        <ion-label position="floating">Caravana</ion-label>
        <ion-input id="caravana" formControlName="caravana" type="text" required></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Raza</ion-label>
        <ion-input id="breed" formControlName="breed" type="text" required></ion-input>
      </ion-item>
      <ion-row class="mt-2">
        <ion-col>
          <div class="flex w-full">
            <ion-button type="submit" color="primary" fill="outline" class="w-full">Registrar vaca</ion-button>
          </div>
          <p class="{{success ? 'text-green-500' : 'text-red-500'}}">{{output}}</p>
        </ion-col>
      </ion-row>
    </div>
  </form>
</ion-content>

