<ion-header [translucent]="true">
  <ion-toolbar color="ganado">
    <ion-title>
        Tu ganado
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-nav [root]="this"></ion-nav>
  <div class="h-full w-full flex flex-col justify-center items-center px-3">
    <img src="assets/logoclaro2.png" class="h-40 mb-28" />
    <ion-button class="w-full mt-2" color="ganado" [routerLink]="['/new-cow']">Administrar vacas</ion-button>
    <ion-button class="w-full mt-2" color="ganado" [routerLink]="['/record']">Registro ordeñe</ion-button>
    <ion-button class="w-full mt-2" color="ganado" [routerLink]="['/historical']">Planilla</ion-button>
    <ion-button class="w-full mt-2" color="ganado" [routerLink]="['/stats']">Gráfico</ion-button>
  </div>  
</ion-content>
