<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
        Tu ganado
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-nav [root]="this"></ion-nav>
  <div class="h-full w-full flex flex-col justify-center items-center px-3">
    <ion-button class="w-full mt-2" [routerLink]="['/new-cow']">Nueva vaca</ion-button>
    <ion-button class="w-full mt-2" [routerLink]="['/record']">Registro ordeñe</ion-button>
    <ion-button class="w-full mt-2" [routerLink]="['/historical']">Planilla</ion-button>
    <ion-button class="w-full mt-2" [routerLink]="['/stats']">Estadisticas</ion-button>
  </div>  
</ion-content>
