<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#" color="success" [routerLink]="['/']"></ion-back-button>
    </ion-buttons>
    <ion-title>Datos historicos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="downloadData()">
        <ion-icon name="download-outline" size="large" color="success"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="px-3">
    <ion-select label="Vaca" placeholder="Seleccionar vaca" (ionChange)="selectChange($event)">
      <ion-select-option *ngFor="let cow of cows" [value]="cow.caravana">{{ cow.caravana }}</ion-select-option>
    </ion-select>
    <table class="w-full" *ngIf="selectedCow">
      <tr>
        <th class="text-start">Fecha</th>
        <th class="text-start">ID</th>
        <th class="text-start">Turno</th>
        <th class="text-start">Litros</th>
      </tr>
      <tr *ngFor="let record of records">
        <td>{{stringifyDate(record.date)}}</td>
        <td>{{record.id}}</td>
        <td>{{!!record.shift ? 'T' : 'M'}}</td>
        <td>{{record.amount}}</td>
      </tr>
    </table>
    <div class="w-full mt-2" [class]="selectedCow ? 'flex' : 'hidden'">
      <ion-button id="open-modal" color="danger" fill="outline" class="w-full">Eliminar una fila</ion-button>
    </div>
    <div class="flex w-full mt-2" *ngIf="output">
      <p class="{{success ? 'text-green-500' : 'text-red-500'}}">{{output}}</p>
    </div>
    <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="cancel()">Cancelar</ion-button>
            </ion-buttons>
            <ion-title>Borrar registro</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="confirm()" [strong]="true">Confirmar</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-item>
            <ion-input
              label="Ingresá el ID del registro"
              labelPlacement="stacked"
              type="number"
              placeholder="Id del registro"
              [(ngModel)]="recordId"
            ></ion-input>
          </ion-item>
        </ion-content>
      </ng-template>
    </ion-modal>
  </div>
</ion-content>
