<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#" [routerLink]="['/']"></ion-back-button>
    </ion-buttons>
    <ion-title>Datos historicos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="downloadData()">
        <ion-icon name="download-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="px-3">
    <ion-select label="Vaca" placeholder="Seleccionar vaca" #selectedCow>
      <ion-select-option *ngFor="let cow of cows" [value]="cow.caravana">{{ cow.caravana }}</ion-select-option>
    </ion-select>
  </div>
</ion-content>
