<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#" color="success" [routerLink]="['/']"></ion-back-button>
    </ion-buttons>
    <ion-title>Datos historicos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="downloadData()">
        <ion-icon name="download-outline" size="large" color="success"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="px-3">
    <ion-select label="Vaca" placeholder="Seleccionar vaca" (ionChange)="selectChange($event)" #selectedCow>
      <ion-select-option *ngFor="let cow of cows" [value]="cow.caravana">{{ cow.caravana }}</ion-select-option>
    </ion-select>
    <table class="w-full">
      <tr>
        <th class="text-start">Fecha</th>
        <th class="text-start">ID</th>
        <th class="text-start">Turno</th>
        <th class="text-start">Litros</th>
      </tr>
      <tr *ngFor="let record of records">
        <td>{{stringifyDate(record.date)}}</td>
        <td>{{record.id}}</td>
        <td>{{!!record.shift ? 'T' : 'M'}}</td>
        <td>{{record.amount}}</td>
      </tr>
    </table>
    <div class="flex w-full">
      <ion-button (click)="deleteRecord()" color="danger" fill="outline" class="w-full">Eliminar una fila</ion-button>
    </div>
  </div>
</ion-content>
